body {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.8em;
  text-transform: none;
  color: rgba(26, 26, 26, 0.75);
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

html {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

div {
  display: block;
}

header {
  position: relative;
  display: block;
  width: 100%;
  top: 0;
  background: none;
  color: #90ee90;
  min-height: 80px;
  z-index: 999;
  margin-top: 15px;
}
header .logo-container {
  position: relative;
  top: 50%;
  left: 100px;
}
header .logo {
  border-radius: 50%;
  width: 64px;
  height: auto;
}
header nav, header nav ul, header nav ul li {
  margin: 0;
  padding: 0;
}
header nav {
  position: absolute;
  top: 50%;
  right: 75px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
header nav ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  background-color: transparent;
  padding-inline-start: 50px;
}
header nav ul li.last {
  margin: 0;
}
header nav ul li a {
  line-height: normal;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
header nav ul li a:visited {
  color: inherit;
}
header nav ul li a:hover {
  color: #00BFFF;
}

footer {
  position: absolute;
  display: block;
  clear: both;
  width: 100%;
  color: #ffffff;
  height: 65px;
  bottom: 0;
}
footer .logo {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer .copyright {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.background-lightgray {
  background-color: #e6e6e6;
}

.background-black {
  background-color: #010000;
}

.full-page {
  height: 100vh;
}

.three-four-full-page {
  height: 75vh;
}

.button-border-white {
  border-color: #ffffff;
  color: #ffffff;
}
.button-border-white:hover {
  background-color: #ffffff;
}

.button-border-lg {
  border-color: #90ee90;
  color: #90ee90;
}
.button-border-lg:hover {
  background-color: #90ee90;
}

.button-transparent {
  background-color: transparent;
}
.button-transparent:hover {
  color: #010000;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -ms-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  transition-duration: 250ms;
}

button {
  line-height: 60px;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 60px;
  user-select: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.hero {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  overflow: hidden;
}

.hero-block {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50%;
}

.hero-text {
  color: #ffffff;
  line-height: 60px;
  max-width: 75%;
  text-align: center;
  margin: 0 auto 60px auto;
  font-size: 3.5rem;
}

.hero-button {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 1em;
}
.hero-button:focus {
  outline: 0;
}

.hero-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(#010000, #010000);
  width: 100%;
}

#home-hero-block {
  -webkit-transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
}

#home-hero-img {
  position: absolute;
  top: 0;
}

.body-block {
  width: 70%;
  left: 15%;
  position: absolute;
  height: 100%;
}

.body-title {
  font-size: 3.5em;
  line-height: 3.5em;
}

.body-text {
  font-size: 20px;
  line-height: 2.2em;
  color: #333;
}

.user-form {
  width: 500px;
  padding: 2em 2em 2em 2em;
  background: #ffffff;
}

.form-input {
  position: relative;
  width: 80%;
  margin-bottom: 45px;
}
.form-input label {
  color: #010000;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: all 0.2s ease;
}

.form-field {
  font-size: 18px;
  padding: auto 10px;
  display: block;
  width: 100%;
}
.form-field:focus {
  border: 1px solid #010000;
}
.form-field:focus ~ label, .form-field.not-empty ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
}

.form-submit {
  width: 150px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  color: #010000;
}

.trending-container {
  margin: 0 auto;
  width: 75%;
}
.trending-container h1 {
  font-weight: bold;
  font-size: 3.5em;
}
.trending-container .trending-heading {
  margin-bottom: 50px;
}
.trending-container .trending-block {
  margin-bottom: 50px;
  height: 75vh;
}
.trending-container .trending-block h1 {
  font-size: 2.5em;
}
.trending-container .trending-block .trending-img {
  margin: 0 auto;
  max-height: 75%;
}

/*# sourceMappingURL=default.css.map */
